.navbar{
    font-family: 'Fugaz One', cursive;
}
.jumbotron h1{
    position: center;
	top:18;
	left:0;
    padding-left: 20px;
}
.jumbotron-fluid{
    background-color: white
}
.header-label{
    color: #0F4C5C; 
    font-family:'Fugaz One', cursive;
}
.footer{
    position: absolute;
	width: 100%;
	height: auto;
}
#mainpage{
    color:#0F4C5C;
    font-family: 'Fugaz One', cursive;
    text-align:center;
} 
.col-xs-12 a:link{
    color: #0F4C5C;
    text-decoration: none;
}
.col-xs-12 a:visited{
    color: #0F4C5C;
    text-decoration: none;
}
.col-xs-12 a:hover{
    color:#5F0F40;
    text-decoration: none;
}
